@import './../../../common/styles/variables.css';

/* Common */

.logo,
.navLeft,
.navRight {
  flex: 1;
}

/* Header */

.header {
  height: 100%;
  background: var(--dark-bg);
  box-shadow:
    0 24px 32px rgba(0, 0, 0, .04), 0 16px 24px rgba(0, 0, 0, .04),
    0 4px 8px rgba(0, 0, 0, .04), 0 0 1px rgba(0, 0, 0, .04);
}

/* Header "inside" wrapper */

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;

  /* NOTE: Can be as part of media query */
  max-width: var(--container-xxl);
  height: 100%;
  margin: auto;
}

/* Logo */

.logo {
  text-align: center;
  text-decoration: none;
  outline-offset: 5px;
  outline-color: var(--primary-light);
}

.logo:hover {
  cursor: pointer;
}

.logo:hover svg {
  stroke: var(--purple);
}

/* Menu in navigation */

.menu {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.menuItem:not(:last-of-type) {
  margin-right: 8px;
}

.menuItem:hover {
  cursor: pointer;
}

.menuItemLink:hover {
  color: var(--primary-light);
}

.menuItemLink:hover svg {
  fill: var(--primary-light);
}

.menuItemLink {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  color: var(--dark-grey);
  outline-offset: 5px;
  outline-color: var(--primary-light);
  text-decoration: none;
}

.menuItemLink svg {
  flex-shrink: 0;
  padding-right: 8px;
  fill: var(--dark-grey);
}

.menuItemLinkActive svg {
  fill: var(--primary-light);
}

.menuItemLinkActive span {
  color: var(--primary-light);
}

/* Nav Right */

.navRight .menuItem:last-of-type {
  margin-left: auto;
}
