@import './variables.css';

/* TODO: Refactor */

/* Global styles for all forms (because modules are encapsulated it's easier to make it as global styles) */

/* NOTE: "sb" prefix stands for "Stellar Burger" to prevent overlapping with other components libraries selectors, etc. */

.sb-form,
.sb-form__body,
.sb-form__body-input-el {
  display: flex;
  justify-content: center;
}

.sb-form {
  flex-wrap: wrap;
}

/* Themes, customized personally per each form/page (P.S. Yes it's not a good quality but it works for this course) */

.sb-form_default .sb-form__body-input-el:not(:last-of-type) {
  margin-bottom: 24px;
}

.sb-form_forgot-password .sb-form__body button {
  min-width: 196px;
  min-height: 66px;
}

.sb-form_reset-password .sb-form__body button {
  min-width: 167px;
  min-height: 66px;
}

.sb-form_profile .sb-form__body-input-el {
  justify-content: flex-start;
}

.sb-form_profile .sb-form__body {
  justify-content: flex-start;
}

.sb-form_profile .sb-form__body button {
  min-width: 167px;
  min-height: 66px;
}

.sb-form__title {
  width: 100%;
  margin-bottom: 24px;
  text-align: center;
}

.sb-form__body {
  flex-wrap: wrap;
}

.sb-form__body.isDisabled button {
  background: var(--dark-grey-dim);
  cursor: not-allowed;
}

.sb-form__body.isDisabled button:hover {
  box-shadow: none;
  filter: none;
}

.sb-form__body button {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.sb-form__body-input-el {
  width: 100%;
}

.sb-form__body > button {
  margin-top: 24px;
}

.sb-form__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
}

.sb-form__content-link {
  text-align: center;
}

.sb-form__content-link:not(:last-of-type) {
  margin-bottom: 16px;
}

/* Global link style inside of forms */

.sb-form__link {
  color: var(--purple);
  text-decoration: none;
}

.sb-form__link:hover {
  text-decoration: underline;
}

.sb-form__link:active {
  color: var(--primary-light);
}





