:root {

  /* Containers */
  --container-sm: 540px;
  --container-md: 720px;
  --container-lg: 960px;
  --container-xl: 1140px;
  --container-xxl:  1320px;
  --container-fluid: 100%;

  /* Sections */
  --section-width: 600px;

  /* Cards Sizes */
  --card-width-default: 272px;
  --card-width-order-default: 584px;

  /* Colors */
  --primary-light: #f2f2f3;
  --dark-grey: #8585ad;
  --dark-grey-dim: #2f2f37;
  --dark-bg: #1c1c21;
  --dark-black-bg: #131316;
  --purple: #4c4cff;
  --coral: #0cc;


  /* Icon Sized */
  --icon-width: 24px;
  --icon-height: 24px;

  /* Burger Constructor Component (with DnD) */
  --burger-constructor-width-total: 536px;
  --dnd-icon-margin-right: 8px;

  /* Modal Windows (Dialogs) */
  --modal-dialog-default-width: 720px;
  --modal-dialog-default-body-max-width: 520px;
  --modal-dialog-border-bg: rgb(76 76 255 / 20%);
  --modal-dialog-shadow-bg: rgb(0 0 0 / 4%);
  --modal-dialog-btn-close-width: 24px;
  --modal-dialog-btn-close-height: 24px;

  /* Glow Text Shadow For Numbers */
  --glow-shadow: 0 0 16px rgb(51 51 255 / 25%), 0 0 8px rgb(51 51 255 / 25%), 0 4px 32px rgb(51 51 255 / 50%);

  /* Forms (signIn, signUp, password reset and forgot, etc.) */
  --submit-btn-height-default: 66px;
  --form-element-gap-default: 24px;
}
