@import '../../common/styles/variables.css';

/* Based on a hack => https://codyhouse.co/nuggets/css-gradient-borders */

.avatarWrapper {
  position: relative;
  overflow: hidden;
  background:
    linear-gradient(var(--dark-black-bg), var(--dark-black-bg)) padding-box,
    linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%) border-box;
  border: 2px solid transparent;
  border-radius: 50%;
  background-size: cover;
}

.avatarWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
