@import './../../shared/styles/variables.css';

/* .app-header { } */

.app-content {
  display: flex;
  flex: 1;

  margin: auto;

  width: 100%;
  max-width: var(--container-xxl);
}

.app-footer {
  flex-shrink: 0;

  height: 40px;
}
