@import './../../common/styles/variables.css';

/* .header {} */

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--container-xxl);
  margin: auto;
  flex: 1;
}

.footer {
  flex-shrink: 0;
  height: 40px;
}

/* TODO: Think about making as a separate component */

.error {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
