@import './../../common/styles/variables.css';

/* .header {} */

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--container-xxl);
  margin: auto;
  flex: 1;
}

.footer {
  flex-shrink: 0;
  height: 40px;
}
