@import '../../../common/styles/variables.css';

.wrapper {
  display: flex;
  align-items: center;
}

.wrapperDndIcon {
  margin-right: var(--dnd-icon-margin-right);
}

.wrapperDndIcon:hover {
  cursor: grab;
}

.wrapperDndIcon:active {
  cursor: grabbing;
}

/* Just hardcode (but it's better to write a good component first, also there is a possibility to write a mega selector via "~" and "+") */
.wrapper.isDragging > div:not(.wrapperDndIcon) {
  opacity: 30%;
  background-image:
  linear-gradient(
    45deg,
    var(--dark-grey) 25%,
    var(--dark-grey-dim) 25%,
    var(--dark-grey-dim) 50%,
    var(--dark-grey) 50%,
    var(--dark-grey) 75%,
    var(--dark-grey-dim) 75%,
    var(--dark-grey-dim) 100%
  );
  background-size: 11.31px 11.31px;
}
