@import './../../common/styles/variables.css';

.dialog {
  display: flex;
  flex-direction: column;
}

.dialogHeader {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 64px;

  /* To prevent overflow dialog internal close button */
  padding-right: 40px;
}

.dialogBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 100%;
  max-width: 520px;
}

.ingredientName {
  margin-top: 16px;
  text-align: center;
}

.foodEnergyInfo {
  margin-top: 32px;
  margin-bottom: 20px;
}
