.burger-ingredients-tab {
  display: flex;
  flex-direction: column;
}

.burger-ingredients-tab-header {
  display: flex;
}

.burger-ingredients-tab-body {
  display: flex;
  flex-wrap: wrap;

  margin-top: 40px;
}

.burger-ingredients-tab-body-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  width: 100%;
}

.burger-ingredients-tab-body-section:not(:last-of-type) {
  margin-bottom: 40px;
}

/* TODO: Change h2 tag with class */
.burger-ingredients-tab-body-section h2 {
  margin-bottom: 24px;

  width: 100%;
}
