@import './common/styles/forms.css';

html,
body {
  height: 100%;
}

body {
  background-color: var(--dark-black-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.modal-is-opened {
  overflow: hidden;
}
