@import './../../shared/styles/variables.css';

.header {
  padding: 40px 40px 0px 40px;
}

.header-wrapper {
  display: flex;
  align-items: center;

  margin: auto;

  width: 100%;
  /* NOTE: Can be as part of media query */
  max-width: var(--container-xxl);
}

.header-logo,
.nav-left,
.nav-right {
  flex: 1;
}

.header-logo {
  text-align: center;

  outline-offset: 5px;
  outline-color: var(--primary-light);

  text-decoration: none;
}

.header-logo:hover {
  cursor: pointer;
}

.header-logo:hover svg {
  stroke: #4c4cff;
}

.nav-right .nav-menu-item:last-of-type {
  margin-left: auto;
}

.nav-menu {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.nav-menu-item {
  padding: 16px 20px;
}

.nav-menu-item:not(:last-of-type) {
  margin-right: 8px;
}

.nav-menu-item:hover {
  cursor: pointer;
}

.nav-menu-item:hover .nav-menu-item-link {
  color: var(--primary-light);
}

.nav-menu-item:hover .nav-menu-item-link svg {
  fill: var(--primary-light);
}

.nav-menu-item-link {
  display: flex;
  align-items: center;

  color: var(--dark-grey);

  outline-offset: 5px;
  outline-color: var(--primary-light);

  text-decoration: none;
}

.nav-menu-item-link svg {
  flex-shrink: 0;

  padding-right: 8px;

  fill: var(--dark-grey);
}
